<!doctype html>
<html lang="en" >
  <head>
    <title>Shopping List Check-Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/style.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style>

    </style>
  </head>
<body ng-app='ShoppingListCheckOff'>
  <div class="container">
  <h1>Shopping List Check-Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-4" ng-controller='ToBuyController as buy'>
     <h3 ng-if="buy.toBuyItems.length>0">To Buy:</h3>

      <ul>
          <li id="toBuyList" ng-repeat="toBuyItem in buy.toBuyItems">
           {{ toBuyItem.quantity}} of {{ toBuyItem.name }}
           <button class="dropdown pull-right" class= "buy item" ng-click= "buy.copyItem($index); buy.removeItem($index);buy.checkBoughtString();

           ">Buy Item</button>

          </li>
         </ul>

      <div>
        <h2 class="announce" ng-if="buy.toBuyItems.length >1"> There are still {{buy.toBuyItems.length}} to buy!!</h2>
        <h2 class="announce" ng-if="buy.toBuyItems.length ==1"> There is only {{buy.toBuyItems.length}} left to buy!!</h2>

        <h2 class="announce" ng-if="buy.toBuyItems.length ==0"> That's it!! All is bought!:) </h2>
        <hr>
    </div>
      <!-- Already Bought List -->
       <div  ng-controller='AlreadyBoughtController as bought'>
           <div ng-if="buy.toBuyItems.length < 5">
             <h2 >Already Bought:</h2>
             <div>
               <ul>
                 <li id = "boughtList"  ng-repeat="boughtItem in bought.getBoughtItems">
                   {{ boughtItem.quantity}} of {{ boughtItem.name }}
                 </li>
               </ul>


             </div>
        </div>
      <hr ng-if="buy.toBuyItems.length < 5">

      </div>
</body>
</html>
